<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>Looks like that a change of password was requested</p>
  <p>If was you, then click on the link below to choose a new password</p>
  <p>
    <a href="{{link}}">Reset Password</a>
  </p>
  <p>If wasn't you, then disconsider this email!</p>
  <p>
    Thank You! <br>
    <strong>Tem GoBarber</strong>
  </p>
</div>
